body {
  background-color: rgb(48, 180, 197);
  height: 10rem;
  text-align: center;
}

h1 {
  padding: 10px 15px;
  background-color: #faf0e6;
  border-radius: 15px;
  }

h1:after {
  position: absolute;
  content: " ";
  display: block;
  width: 30%;
  }
ul {
  list-style: none;
  margin-bottom: 1;
}
li {
  list-style: none;
  margin-bottom: 5px;
}
.rec {
  font-size: 30px;
  color: red;
  width: 100px;
  height: 100px;
}

.reco {
  margin: 1vh 0;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
}

.date-week {
  height: 5vh;
  font-size: 3vh;
  background: #5fc2f5;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.record-form {
  font-size: 15px;
  width: 300px;
  margin: 10px 0;
  padding: 10px;
  display: table-cell;
}

.record-main {
  font-size: 13px;
  width: calc(60% - 40px);
  min-width: 500px;
  max-width: 700px;
}

.record-list {
  position: relative;
  padding: 0.6em;
  background: #e0edff;
  color:rgb(14, 12, 79);
}

.record-list p {
  font-weight: bold;
}

.delete-bottun {
  color: #ff0000;
  border: solid 1px blue;
}

.content {
  min-height: 25vh;
  padding: 5px;
  white-space: nowrap;
  overflow: scroll;
  border: darkblue solid 1px;
}

.dest-rec {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  position: relative;
}